/* https://coolors.co/ffdde2-2d3047-8dab7f-a4def9-a4303f */



.sojol{

    background-color: #0a192f;
    width: 100%;
    height: 450vh;
    /* border: 2px solid pink; */

}

.nav{
    display: flex;
    position: fixed;
    width: 99%;
    height: 3vh;
    justify-content: space-between;
    align-items: flex-start;
    padding:2% 2% 2% 2%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    z-index: 1000000;
}

.nav-left{
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: #a4def9;
}

.nav-left a{
    text-decoration: none;
    color: #a4def9;
}

.nav-right{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-right:10%;
    /* border: 2px solid black; */
    color: white;
    /* width: 35%; */
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
}

.nav-right div{
    margin:0% 2% 0% 2%;
}

.nav-right a{
    position: relative;
    text-decoration: none;
    color: #a4def9;
    transition: 0.5s;
}

.nav-link a::before{
    content: "";
    position: absolute;
    width:0px;
    height: 1.5px;
    bottom:-1px;
    left:0px;
    background-color: #a4def9;
    visibility: hidden;
    transition: all 0.5s ease-in-out;

    
}

.nav-link a:hover::before{
    visibility: visible;
    width: 100%;
}

.burger{
    display: none;
    margin-right: 5%;
    margin-bottom: 5%;
    cursor: pointer;
}


.burger .line {
    background-color: #a4def9;
    height: 3px;
    width:25px;
    margin: 15%;
    transition: all 0.1s ease-in;
    z-index: 1000000;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-11px, -6px);
    /* background-color: red; */
}

.toggle .line2{
    display: none;
}

.toggle .line3{
    transform: rotate(45deg) translate(-11px, 6px);
}

.burger-items{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 6%;
    bottom:10px;
    height: 100vh;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0a192f;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    /* border: 2px solid green; */
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 100;
}

.burger-items div a{
    opacity: 1;
    color: #a4def9;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    /* background-color: #8badaa; */
}

.burger-active{
    transform: translateX(0%);
}


.intro{
    position: absolute;
    text-align: left;
    margin: 0 auto;
    width: 70%;
    top: 50%;
    margin-left: 50%;
    /* margin-right: 50px; */
    transform: translate(-50%,-50%);
    z-index: 100;
    /* border: 10px solid black; */
}

.intro h1{
    margin: 2% 0%;
    /* width: 80%; */
    width: fit-content;
    /* margin-left: 50%; */
    font-size: 2.5em;
    font-family: 'Archivo', sans-serif;
    /* color: #8dab7f; */
    color: #a4def9;
    /* border: 2px solid black; */
}


.intro div{
    /* margin-top: 5%; */
    width: 100%;
    height: 100%;
}

.intro p{
    display: none;
    width: fit-content;
    font-size: 1em;
    font-style: courier;
    color: #8dab7f;
}

.intro div svg{
    /* border: 2px solid black; */
    /* margin-left: 60%; */
    /* position: relative; */
    /* margin-top: 5%; */
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fill 1s ease forwards 2s;
}




.intro svg path:nth-child(1){
    stroke-dasharray: 634.4597778320312;
    stroke-dashoffset: 634.4597778320312;
    animation: line-anim 1s ease forwards 0.1s;
}
.intro svg path:nth-child(2){
    stroke-dasharray: 625.8453979492188;
    stroke-dashoffset: 625.8453979492188;
    animation: line-anim 3s ease forwards 0.2s;
}
.intro svg path:nth-child(3){
    stroke-dasharray: 552.5182495117188;
    stroke-dashoffset: 552.5182495117188;
    animation: line-anim 3s ease forwards 0.3s;
}
.intro svg path:nth-child(4){
    stroke-dasharray: 625.8447265625;
    stroke-dashoffset: 625.8447265625;
    animation: line-anim 3s ease forwards 0.4s;
}
.intro svg path:nth-child(5){
    stroke-dasharray: 557.31689453125;
    stroke-dashoffset: 557.31689453125;
    animation: line-anim 3s ease forwards 0.5s;
}
.intro svg path:nth-child(6){
    stroke-dasharray: 755.7862548828125;
    stroke-dashoffset: 755.7862548828125;
    animation: line-anim 3s ease forwards 0.6s;
}
.intro svg path:nth-child(7){
    stroke-dasharray: 625.84814453125;
    stroke-dashoffset: 625.84814453125;
    animation: line-anim 3s ease forwards 0.7s;
}
.intro svg path:nth-child(8){
    stroke-dasharray: 634.4628295898438;
    stroke-dashoffset: 634.4628295898438;
    animation: line-anim 3s ease forwards 0.8s;
}
.intro svg path:nth-child(9){
    stroke-dasharray: 591.96630859375;
    stroke-dashoffset: 591.96630859375;
    animation: line-anim 3s ease forwards 0.9s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: #8dab7f;
    }
}



.contact-left{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top:60vh;
    width: 4%;
    margin-bottom: 20px;
    margin-left: 20px;
    z-index: 100;
}

.contact-right{
    display: flex;
    position : fixed;
    height: 30px;
    width: 290px;
    /* width: fit-content; */
    margin-left: 85%;
    margin-right: 10%;
    margin-top: 77vh;
    margin-bottom: 20px;
    transform: rotate(90deg);
    z-index: 100;
}

.contact-right a{
    font-family: 'Courier New', Courier, monospace;
    color: #b2ddf7;
    font-size: 18px;
    text-decoration: none;
}

.about{
    /* border: 2px solid black; */
    position: absolute;
    height:100vh;
    margin-left:10%;
    margin-right:10%;
    /* padding: 100px 20px; */
    top:100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #a4def9;
}

.about-text{
    height:60%;
    text-align: center;
    margin: 0% 5% 0% 5%;
    width: 300%;
    align-items: center;
    height: fit-content;
    /* transform: translate(0%, -50%); */
}

.about-text div{
    color: #a4def9;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    /* margin: 10%; */
    height:100%;
    /* margin: 50% 0% 0% 50%; */
    /* transform: translate(-20%,-50%); */
    /* border: 2px solid black; */
    width: 100%;
}

.profile-pic{
    position: relative;
    margin-right:5%;
    top: 0;
    width: 180%;
    height: 30vw;
    background: #0d1418;
    background-image: url("../Images/profilePicAlt.png");
    /* background-size: auto; */
    background-size: cover;
    border: 2px solid black;
    /* background-blend-mode: luminosity; */
    transition: 0.2s;
}

/* .profile-pic:before{
    content:"";
    position: absolute;
    width: 0px;
    height: 4px;
    bottom: -20px;
    left: 200px;
    visibility: hidden;
    background-color:black;
    transition: 0.2s ease-out;
}

.profile-pic::after{
    content:"";
    position: absolute;
    width: 2px;
    height: 0px;
    right: -20px;
    top: 273px;
    visibility: hidden;
    background-color:black;
    transition: 0.2s ease-out;
}

.profile-pic:hover{
    background-color: #1c1c27;
    background-blend-mode: hard-light;
    background-size: contain;
    widows: 85%;
    height: 55%;
}

.profile-pic:hover::before{
    visibility: visible;
    width:203px;
}

.profile-pic:hover::after{
    visibility: visible;
    height: 200px;
} */

.work{
    position: absolute;
    height:100vh;
    width:70%;
    margin-left:15%;
    margin-right:15%;
    margin-top: 15%;
    padding-top: 10%;
    top:200vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #a4def9;
}

.work h2{
    /* border:2px solid black; */
    font-size: 2.5vw;
    margin-left: 20px;
    font-family: 'Archivo', sans-serif; 
    /* font-family: 'Courier New', Courier, monospace; */
}

.experience-wrapper{
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
}

.tabs{
    /* border: 2px solid black; */
    font-size: 1.7vw;
    font-family: 'Inconsolata', monospace;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.tabs a{
    /* padding-top: 5%; */
    text-decoration: none;
    color: #a4def9;
}

.tabs a div{
    padding: 2% 10%;
}

.tabs a:hover{
    
    background-color: #414458;
    color: #a4def9;
    font-weight: bold;
    transition: 0.1s;
}
/* 
.tabs a div:active{
    background-color: #414458;
    color: #a4def9;
    font-weight: bold;
} */
.tabs a div:hover{
    background-color: #414458;
    transition: 0.5s;
}

.activeDiv{
    background-color: #414458;
    color: #a4def9;
    font-weight: bold;
}

.desc{
    display: flex;
    width: 70%;
    margin-left: 20px;
    margin-right: 10px;
}

.desc div div{
    font-size: 2vw;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    margin-bottom: 5%;
}

.desc div h4{
    font-size: 1.5vw;
    color: #8892b0;
}

.desc div div span{
    color: #8dab7f;
    font-weight: bold;
}

li{
    margin-left: 20px;
    list-style-type: square;
    font-size: 1.2vw;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Poppins', sans-serif;

}

.stack-wrapper{
    position: absolute;
    top:300vh;
    margin-top: 50vh;
    width:70%;
    height:100vh;
    margin-left:15%;
    margin-right:15%;
    padding-top: 10%;
    /* border: 2px solid black; */
}

.stack-wrapper h2{
    color: #a4def9;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
}


.stack{
    width: 100%;
    height:80%;
    /* height: 1000px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
    padding-top: 2%;
    /* border: 2px solid yellow; */
}

.card{
    /* width: 300px; */
    width: 22%;
    /* height: 250px; */
    height: 30%;
    margin: 2% 2%;
    padding:10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    /* border: 2px solid pink; */
    align-items: center;
    text-align: center;
    transition: 0.9s;
}

.card-header{
    /* visibility: hidden; */
    display: none;
    opacity: 0;
    transition: 0.5s;
    
}

.card .card-header ul li{
    text-align: start;
    color: #8dab7f;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
}

.card .card-header ul{
    margin-top: 10%;
}


.card img{
    /* margin: 10px 10px 10px 22px; */
    /* width: 250px;
    height: 200px; */
    width: 100%;
    height: 100%;
    /* background: transparent; */
    /* mix-blend-mode: luminosity; */
    transition: 0.5s;
}
.card-header h3{
    color: #a4def9;
    font-size: 2vw;
    font-family: 'Inconsolata', monospace;
}

.card-header p{
    color: #a4def9;
    font-family: 'Inconsolata', monospace;
    font-weight: 5;
    font-size: 1.2vw;
}



.card:hover{
    height: fit-content;
    /* margin-bottom: 5px; */
}

.card:hover img{
    width: 45%;
    height:20%;
}

.card:hover .card-header{
    /* visibility: visible;  */
    display: inline-block;
    opacity: 1;   
}

.projects{
    position: absolute;
    top: 470vh;
    margin-left: 10%;
    margin-bottom: 20%;
    /* border:2px solid white; */
    height: 100vh;
    width: 80%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.projects h1{
    font-size: 2.5vw;
    color:#a4def9;
    font-family: 'Archivo', sans-serif;
    margin-left: 0px;

}

.projects div{
    display: flex;
    margin: 5% 0%;
    width:100%;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid pink; */
}

.projects div p{
    width:40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: fit-content;
    color: #a4def9;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project-tech{
    display: flex;
    color:#8dab7f;
    align-self: center;
    justify-content: space-around;
    width: fit-content;
}

.project-tech li{
    list-style: none;
    font-weight: bold;
}

.projects div .sortVisualizer{
    position: relative;
    cursor: pointer;
    height:40vh;
    width: 60%;
    margin-left: 10%;
    background-image: url("../Images/sortVisualizer.PNG");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
}


.projects div .exchangeRate{
    cursor: pointer;
    height:40vh;
    width: 60%;
    margin-right: 10%;
    background-image: url("../Images/exchangeRate.PNG");
    background-position: top;
    /* border: 2px solid cyan; */
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.inside-image{
    visibility: hidden;
    /* position: absolute; */
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0 , 0 , 0 , 0.6);
    /* border: 2px solid green; */
    text-align: center;
    color: white;
}

.inside-image a{
    text-align: center;
    align-items: center;
    background: none;
    color: white;
    font-size: 2vw;
    font-weight: bolder;
    font-family: fantasy;
}


.project-image:hover .inside-image{
    visibility: visible;
}

.footer{
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    position: relative;
    top: 660vh;
    /* bottom: 10vh; */
    display: flex;
    justify-content: center;
}

.footer div{
    color: #a4def9;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
}




@media (max-width:750px){
    .intro{
        margin: 0 auto;
        margin-top: 10%;
        margin-left: 50%;
        width: 80%;
        transform: translate(-55%, -90%);
    }

    .intro h1{
        font-size: 1.5em;
        margin: 20px 0px;
    }
    .intro div{
        width: 100%;
    }

    .intro div svg{
        width:100%;
    }

    .intro p{
        display: block;
    }

    .contact-left{
        display: none;
    }

    .contact-right{
        display: none;
    }

    .nav-right{
        display: none;
    }
    
    .nav-left{
        font-size: 1em;
    }

    .about{
        margin:0px;
    }
    
    .about-text div{
        font-size: 2.5vw;
    }

    .profile-pic{
        width: 180%;
        height: 30%;
    }

    .work{
        width: 90%;
        margin: 0% 5%;
    }

    .work h2{
        font-size: 4.5vw;
    }

    .experience-wrapper{
        width: 100%;
        flex-direction: column;
    }

    .tabs{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        /* border: 3px solid pink; */
    }
    
    .tabs a{
        font-size: 3.5vw;
        width: 25%;
        /* text-align: center; */
    }

    .desc{
        margin-left: 0%;
        width: 100%;
    }

    .desc div div{
        font-size: 3vw;
    }

    .desc div h4{
        font-size: 3vw;
    }

    li{
        font-size: 2.5vw;
    }

    .stack-wrapper{
        width: 90%;
        margin: 0% 5%;
    }

    .burger{
        display: block;
    }

    .stack-wrapper{
        width: 90%;
        margin: 0% 5%;
        top: 350vh;
    }

    .stack-wrapper h2{
        font-size: 4.5vw;
    }

    .projects{
        width: 90%;
        margin: 0% 5%;
    }

    .projects h1{
        
        font-size: 4.5vw;
    }

    .projects div .exchangeRate{
        height: 30vh;
    }

    .projects div .sortVisualizer{
        height: 30vh;
    }
    

    .project-tech li{
        font-size: 1.5vw;
    }

    .footer{
        top:600vh;
    }
    
    .footer div{
        font-size: 2vw;
    }

    
}

@media (max-width:600px){

    .stack-wrapper{
        justify-content: space-between;
    }

    .card{
        width:30%;
        height:20%;
    }

    .projects{
        width: 90%;
        margin: 0% 5%;
    }

    .projects div .exchangeRate{
        height: 20vh;
    }

    .projects div .sortVisualizer{
        height: 22vh;
        width: 50%;
    }
}




